/* You can add global styles to this file, and also import other style files */
@import "./theme/theme.css";

/* Global styles */
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  overflow: hidden;
}

* {
  box-sizing: border-box;
}
